@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.title,
.content,
.subtitle {
  align-items: center;
  display: flex;
}

.content {
  flex-direction: column;
  height: 100%;
}

.value,
.title > h2 {
  font-size: inherit;
  margin: 0;
}

.title {
  font-weight: bold;
  height: 18px;
  text-transform: uppercase;

  & > span {
    font-weight: bold;
    margin-left: calc(var(--spacing-tiny) - 4px);
  }
}

.value {
  align-items: center;
  display: flex;
  font-weight: bold;
  margin: var(--spacing-small) 0;

  & h3 {
    color: var(--color-light-steel-100);
    font-size: inherit;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.subtitle {
  font-size: 11px;
  text-align: center;

  & svg {
    display: inline-block;
    vertical-align: middle;
  }

  & > * {
    color: var(--color-light-steel-100);
  }
}

.center {
  align-items: center;

  & .subtitle {
    text-align: center;
  }
}

.end {
  align-items: flex-end;

  & .subtitle {
    text-align: right;
  }
}

.start {
  align-items: flex-start;

  & .subtitle {
    text-align: left;
  }
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 24px;
}

.huge {
  font-size: 28px;
}
