@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.title,
.content,
.subtitle {
  align-items: center;
  display: flex;
}

.content {
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.value,
.title > h2 {
  margin: 0;
}

.title {
  height: 18px;
  text-transform: uppercase;

  & h2 {
    font-size: 14px;
  }

  & > span {
    color: var(--color-light-chromium-100);
    margin-left: calc(var(--spacing-tiny) - 4px);
  }
}

.value {
  align-items: center;
  display: flex;

  & small {
    font-size: 18px;
    font-weight: 900;
    margin-right: var(--spacing-tiny);
  }

  & h3 {
    color: var(--color-light-steel-100);
    font-size: 28px;
    margin: 0;
  }
}

.subtitle {
  font-size: 11px;
  text-align: center;

  & svg {
    display: inline-block;
    vertical-align: middle;
  }

  & > * {
    color: var(--color-light-steel-100);
  }
}

.center {
  align-items: center;

  & .subtitle {
    text-align: center;
  }
}

.end {
  align-items: flex-end;

  & .subtitle {
    text-align: right;
  }
}

.start {
  align-items: flex-start;

  & .subtitle {
    text-align: left;
  }
}
