.cardContainer {
  display: flex;
  padding: 32px 24px;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  width: 100%;
  align-items: center;
}

.leftContainer > * {
  margin-right: 16px;
}

.rightContainer {
  display: flex;
  justify-content: right;
}

.rightContainer > *:not(:last-child) {
  margin-right: 16px;
}

.linkNameQueryInput {
  max-width: 215px;
}
