@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";

.dashboardCard {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: min-content;

  & h1 {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: var(--spacing-large);
  }

  & p {
    color: var(--color-squanchy-gray-200);
    line-height: var(--spacing-medium);
    margin-top: 8px;
  }
}

.recommendedBadge {
  color: var(--color-white);
  background: var(--color-picklerick-green-100);
  border-radius: 8px;
  position: absolute;
  padding: 10px;
  right: 15px;
  text-align: center;
  top: -18px;
}
