@import "former-kit-skin-pagarme/dist/styles/typography.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.captureAmount {
  color: var(--color-squanchy-gray-400);
  font-size: var(--headline-font-size);
  font-weight: var(--title-font-weight);
  margin: 0;
}

.captureWarning {
  font-size: var(--caption-font-size);
}

.value {
  color: var(--color-squanchy-gray-400);
  font-size: 14px;
}
