@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.advise {
  font-size: 11px;
}

.available {
  color: var(--color-light-greenish-100);
  font-size: 12px;
  font-weight: bold;
  padding: 0 4px;
}

.availableContainer {
  font-size: 12px;
}

.availableTitle {
  padding: 0 var(--spacing-tiny) var(--spacing-tiny) 0;
}

.availableTitle,
.label {
  font-size: 12px;
}

.label {
  align-items: stretch;
  display: flex;
  padding: var(--spacing-tiny) 0;
}

.content .spacer {
  margin: var(--spacing-small) 0 0 0;
  width: 100%;
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.summary {
  align-items: flex-end;
  display: inherit;
  flex-direction: inherit;
  flex: 1;
}

.titleInfo {
  align-items: center;
  display: flex;
}

.tooltip {
  width: 200px;
}

.overlay {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 4px;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}
