@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.card {
  background-image:
    linear-gradient(
      to bottom right,
      var(--color-white),
      var(--color-white) 49%,
      var(--color-light-smoke-40) 50%,
      var(--color-white) 74%,
      var(--color-white)
    );
  height: 150px;

  & h2 {
    color: var(--color-light-noir-100);
    font-size: 14px;
    margin: 0;
  }

  & p {
    margin: 0;
  }
}

.cardContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;

  & div:first-child {
    padding: 0;
  }
}

.cardTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cardNumber {
  align-items: center;
  color: var(--color-light-noir-100);
  display: flex;
  font-size: 22px;
  margin: var(--spacing-medium) 0;

  & svg {
    margin-right: var(--spacing-tiny);
  }
}

.cardBrandHolder {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: space-between;
  width: 100%;

  & p {
    color: var(--color-light-steel-100);
    font-size: 14px;
    text-transform: uppercase;
  }
}

@media print {

  .card {
    background: none;
    height: auto;
  }

  .cardContent {
    align-items: baseline;
    border-bottom: 1px solid var(--color-light-iron-50);
    flex-flow: row wrap;
    height: auto;
    padding: 0 0 10px;

    &:before {
      content: "Dado do cartão";
      display: block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .cardTitle {
    display: none;
  }

  .cardNumber {

    & svg {
      display: none;
    }

    & > strong {
      font-size: 14px;
      font-weight: normal;
    }

    &:before {
      content: "Número: ";
      display: inline;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .cardBrandHolder {
    flex-direction: row;
    justify-content: center;
    width: auto;

    & > p {
      display: inline-block;
      padding-right: var(--spacing-tiny);
    }

    &:before {
      content: "Portador: ";
      font-size: 14px;
      font-weight: bold;
    }

    & > span {
      align-items: center;
      display: flex;
      padding-left: var(--spacing-small);

      &:before {
        content: "Bandeira: ";
        display: inline;
        font-size: 14px;
        font-weight: bold;
      }

      & > svg {
        display: inline-block;
      }
    }
  }
}
