@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.card {
  height: 150px;
  background-image:
    linear-gradient(
      to top left,
      var(--color-light-smoke-40) 50%,
      var(--color-white) 50%,
      var(--color-white)
    );

  & p {
    margin: 0;
  }
}

.cardContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding:
    var(--spacing-small)
    var(--spacing-medium);

  & > * {
    width: 100%;
  }

  & > div:first-of-type {
    padding: 0;
  }
}

.cardNumber {
  display: flex;
  align-items: center;
  word-spacing: var(--spacing-tiny);
}

.cardChip {
  margin-right: var(--spacing-small, 8px);
}

.cardBrandHolder {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    font-size: 14px;
    text-transform: uppercase;
  }
}
