@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.eventContent {
  font-size: 12px;

  & .riskLevelTitle {
    padding-bottom: var(--spacing-tiny);
    padding-top: var(--spacing-small);
    text-transform: capitalize;
  }

  & .eventDescription {
    line-height: 1.6;

    & p {
      margin: 0;
    }

    & > .fraudReimbursed {
      margin-bottom: var(--spacing-small);
    }
  }
}
