@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.anticipationDate {
  font-weight: bold;
  color: var(--color-light-steel-100);
}

.anticipationIcon {
  color: var(--color-light-greenish-100);
  padding-left: var(--spacing-tiny);
}

.negative {
  color: var(--color-light-salmon-100);
}

.net {
  font-weight: bold;
}

.operator {
  padding: 0 4px;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.paginationBottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
}

.payment {
  align-items: center;
  display: flex;
  justify-content: center;
}

.positive {
  color: var(--color-light-greenish-100);
}

.type {
  color: var(--color-light-steel-100);
  font-weight: bold;
}

.tooltip {
  width: 200px;
}

.zero {
  color: var(--color-light-steel-100);
}

.title {
  color: var(--color-light-steel-100);
  font-size: 14px;
}
