@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.anticipationDate {
  font-weight: bold;
  color: var(--color-squanchy-gray-400);
}

.anticipationIcon {
  color: var(--color-picklerick-green-100);
  padding-left: var(--spacing-tiny);
}

.container {
  border-radius: 3px;

  & > div .pagination.paginationBottom {
    padding-top: var(--spacing-medium);
  }

  & > div:last-child {
    padding-top: var(--spacing-medium);
  }

  & .head > div:first-child {
    padding-left: 0;
    padding-right: 0;
    padding-top: var(--spacing-tiny);
  }
}

.head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.negative {
  color: var(--color-barney-purple-100);
}

.net {
  font-weight: bold;
}

.operator {
  padding: 0 4px;
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.paginationBottom {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: none;
}

.payment {
  align-items: center;
  display: flex;
  justify-content: center;
}

.positive {
  color: var(--color-picklerick-green-100);
}

.subtitle > h3 {
  color: var(--color-squanchy-gray-400);
  font-size: 14px;
  font-weight: normal;
  margin-right: var(--spacing-small);
}

.type {
  color: var(--color-squanchy-gray-400);
  font-weight: bold;
}

.tooltip {
  width: 200px;
}

.zero {
  color: var(--color-squanchy-gray-400);
}

.overlay {
  align-items: center;
  background-color: rgba(var(--color-white), 0.95);
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 75px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.title {
  color: var(--color-squanchy-gray-400);
  font-size: 14px;
}
