@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.sections,
.sections * {
  box-sizing: border-box;
}

.item {
  list-style: none;
  margin-top: var(--spacing-small);

  & button {
    margin-top: var(--spacing-small);
  }
}

.sections {

  & ul {
    margin: 0;
    padding: 0;
  }

  & .title {
    color: var(--color-squanchy-gray-200);
    display: block;
    font-size: 14px;
    margin-top: var(--spacing-small);
  }

  & .value {
    color: var(--color-birdperson-gray-500);
    font-size: 24px;
    margin-top: var(--spacing-tiny);
    white-space: nowrap;

    & small {
      font-size: 14px;
    }
  }

  &:first-child .item:first-child,
  &:first-child .item:first-child > *:first-child {
    border: none;
    margin: 0;
  }
}
