@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.summary,
.summary * {
  box-sizing: border-box;
}

.summary {
  flex-direction: column;
  padding:
    var(--spacing-small)
    var(--spacing-medium);
  width: 100%;

  &.expanded {
    background-color: var(--color-squanchy-gray-20);
  }

  & .title {
    color: var(--color-birdperson-gray-500);
    display: block;
    font-size: 14px;
    outline: none;
    text-align: left;
    width: 100%;
  }

  & .subtitle {
    align-items: center;
    color: var(--color-picklerick-green-100);
    display: flex;
    font-size: 12px;
    font-weight: bold;
    padding-top: 4px;
  }
}
