@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.marginTop {
  margin-top: var(--spacing-small);
}

.noBorder {
  margin-top: var(--spacing-small);
  border: none;
  box-shadow: none;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: var(--color-light-silver-40);
}

.centerText {
  color: var(--color-light-steel-100);
  font-size: 16px;
  font-weight: var(--title-font-style);
  text-align: center;
}
