@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.marginTop {
  margin-top: var(--spacing-small);
}

.noBorder {
  margin-top: var(--spacing-small);
  border: none;
  box-shadow: none;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: var(--color-squanchy-gray-20);
}

.centerText {
  color: var(--color-squanchy-gray-400);
  font-size: 16px;
  font-weight: var(--title-font-style);
  text-align: center;
  margin-top: 0;
  width: 470px;
}

.title {
  font-size: 24px;
}

.errorDetails p:first-of-type {
  margin-bottom: 5px;
}

.errorDetails p:last-of-type {
  margin-top: 0;
  margin-bottom: 48px;
}
