@import "former-kit-skin-pagarme/dist/styles/colors.css";

.infoCard {
  flex-wrap: nowrap;
}

.infoCard a,
.infoCard a:hover {
  text-decoration: none;
}

.infoCard button {
  text-transform: none;
  margin-left: 20px;
}

.infoCard p {
  color: var(--color-birdperson-gray-700);
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 6px;
}

.infoCard span {
  font-size: 14px;
  line-height: 14px;
}
