@import "former-kit-skin-pagarme/dist/styles/colors.css";

.infoCard a {
  text-decoration: underline;
}

@media (min-width: 1024px) and (max-width: 1280px) {

  .infoCard a {
    margin-top: 10px;
  }
}

.infoCard button {
  text-transform: none;
}

.infoCard p {
  color: var(--color-light-carbon-60);
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  margin: 0 0 6px;
}

.infoCard span {
  font-size: 14px;
  line-height: 14px;
}
