@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.card {
  height: 150px;

  & h2 {
    color: var(--color-light-steel-100);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  & p:not(.cardDueDate) {
    margin: 0;
  }
}

.cardContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  & > * {
    width: 100%;
  }

  & > div:first-of-type {
    padding: 0;
  }
}

.cardTitle {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;
}

.cardBarCode {
  color: var(--color-light-steel-100);
  font-size: 14px;
  line-height: var(--spacing-medium);

  & svg {
    margin-right: var(--spacing-tiny);
    position: relative;
    top: 8px;
  }
}

.cardDueDate {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;

  & p {
    color: var(--color-light-steel-100);
    font-size: 12px;
  }
}

@media print {

  .card {
    background: none;
    height: auto;
    text-align: center;

    & svg {
      display: none;
    }
  }

  .cardContent {
    border-bottom: 1px solid  var(--color-light-iron-50);
    flex-flow: row wrap;
    height: auto;
    justify-content: flex-start;
    padding: 0 0 10px;

    & > * {
      width: auto;
    }
  }

  .cardTitle {
    text-align: left;
    width: 100%;

    &:before {
      content: "Dado do boleto";
      display: block;
      font-size: 16px;
      font-weight: bold;
      order: 1;
    }

    & h2,
    & button {
      display: none;
    }
  }

  .cardBarCode {
    margin-right: var(--spacing-small);

    & > strong {
      font-size: 14px;
      font-weight: normal;

      &:empty:after {
        content: "-";
        display: inline;
      }
    }

    &:before {
      content: "Número do boleto: ";
      display: inline;
      font-size: 16px;
      font-weight: normal;
    }
  }

  .cardDueDate {

    & > p {
      color: var(--color-black);
      font-size: 16px;
    }

    & button {
      display: none;
    }
  }
}
