@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.card {
  height: 150px;

  & h2 {
    color: var(--color-light-steel-100);
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  & p:not(.cardDueDate) {
    margin: 0;
  }
}

.cardContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  & > * {
    width: 100%;
  }

  & > div:first-of-type {
    padding: 0;
  }
}

.cardTitle {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;
}

.cardBarCode {
  color: var(--color-light-steel-100);
  font-size: 14px;
  line-height: var(--spacing-medium);

  & svg {
    margin-right: var(--spacing-tiny);
    position: relative;
    top: 8px;
  }
}

.cardDueDate {
  align-items: center;
  display: flex;
  height: 26px;
  justify-content: space-between;

  & p {
    color: var(--color-light-steel-100);
    font-size: 12px;
  }
}
