@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";

.actions > div > *:first-child {
  margin-left: 0;
}

.icon {
  color: var(--color-light-blue-100);
  padding: var(--spacing-small);
}

.message {
  align-items: center;
  display: flex;
  padding: 0 40px;

  & > span {
    margin-right: 48px;
    text-align: center;
    width: 100%;
  }
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: var(--spacing-medium);
}
