@import "former-kit-skin-pagarme/dist/styles/spacing";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.info {
  display: flex;
  margin: var(--spacing-large) 0;

  & .value {
    color: var(--color-birdperson-gray-500);
    font-weight: 600;
    margin: 0;
  }

  & .icon {
    align-items: center;
    display: flex;
    margin-left: auto;
  }
}
