@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }

  & > span {
    color: var(--color-light-steel-100);
    font-size: 12px;
    text-transform: uppercase;
  }

  & > div {
    align-items: center;
    display: flex;
    height: 30px;
  }
}

.identifier {
  color: var(--color-light-steel-100);
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  max-width: 300px;
}

.actions {
  align-items: center;
  display: flex;

  & > button:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }
}

.propertyChildren {
  color: var(--color-light-steel-100);
  font-size: 14px;

  &:empty {
    border-top: 1px solid var(--color-light-steel-50);
    margin-top: var(--spacing-small);
  }
}
