@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.content {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
}

.item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }

  & > span {
    color: var(--color-light-noir-100);
    font-size: 12px;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  & > div {
    align-items: center;
    display: flex;
    height: 30px;
  }
}

.identifier {
  color: var(--color-light-steel-100);
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  max-width: 300px;
}

.actions {
  align-items: center;
  display: flex;

  & > button:not(:first-of-type) {
    margin-left: var(--spacing-medium);
  }
}

.propertyChildren {
  color: var(--color-light-steel-100);
  font-size: 14px;

  &:empty {
    border-top: 1px solid var(--color-light-steel-50);
    margin-top: var(--spacing-small);
  }
}

@media print {

  .content {
    align-items: baseline;
    border-bottom: 1px solid var(--color-light-grey-50);
    justify-content: center;
    padding: var(--spacing-small) 0;
    width: 100%;

    & > div:first-child {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  .actions {
    display: none;
  }

  .item {
    height: 40px;

    & .identifier {
      align-items: baseline;
      font-size: 24px;
      height: auto;
      justify-content: center;
    }

    & > span {
      color: var(--color-black);
      flex-wrap: wrap;
      font-size: var(--body-font-size);
      font-weight: normal;
      text-align: center;
      max-width: 150px;
    }

    & > .propertyChildren {
      font-size: 14px;
      font-weight: bold;
      height: auto;
      justify-content: center;

      & abbr {
        background: none;
        font-size: 14px;
        padding: 0;
        text-transform: initial;
      }

      & strong {
        font-size: 14px;
      }
    }
  }
}
