@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.title {
  color: var(--color-light-steel-100);
  display: inline-flex;
  font-size: 14px;
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: var(--spacing-tiny);
}

.subtitle {
  color: var(--color-light-steel-100);
  font-size: 14px;
  font-weight: var(--title-font-style);
  margin-top: 0;
}

.label {
  font-size: 12px;
  display: flex;
  color: var(--color-light-grey-100);
  margin-bottom: var(--spacing-tiny);
}

.heightMedium {
  height: var(--spacing-medium);
}

.tooltip {
  margin-left: 6px;
}

.alignItems {
  display: flex;
  align-items: baseline;
}
