@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.content {
  align-items: center;
  border-radius: 3px;
  border: 1px solid var(--color-light-iron-50);
}

.content > div {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-medium);
}

.amount,
.dates {
  align-items: center;
  display: flex;
}

.amount h3 {
  margin: 0;
}

.dates h3 {
  color: var(--color-light-steel-100);
}

.amount > div {
  padding-top: 0;
  padding-bottom: 0;
}

.date {
  display: flex;
  align-items: center;

  & > h3 {
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 0;
    margin-right: var(--spacing-tiny);
    margin-top: 0;
  }

  & strong,
  & span {
    display: block;
  }

  & strong {
    color: var(--color-light-steel-100);
  }
}

.icon {
  margin: 0 var(--spacing-medium);
}
