@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";

.summaryContent > *:not(:first-child) {
  margin-left: var(--spacing-medium);
}

.dark {
  background-color: var(--color-squanchy-gray-20);
}

.light {
  background-color: var(--color-white);
}

.content {
  height: 100%;
  padding: var(--spacing-small);
}

.helpIcon {
  margin-left: 8px;
}

.totalDisplayTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  font-size: 13px;
  width: 150px;
  color: var(--color-white);

  & .title {
    text-align: center;
  }
}
