@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.filtersTitle {
  color: var(--color-squanchy-gray-400);
  font-size: 14px;
  margin-bottom: var(--spacing-tiny);
  text-transform: uppercase;
}
