@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.title {
  color: var(--color-birdperson-gray-700);
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-top: 0;
}

.marginRight > div {
  margin-right: 54px;
  margin-top: 32px;
}

.feeValuesWrapper {
  font-size: 12px;

  & > div:not(:last-child) {
    margin-bottom: 6px;
    margin-right: var(--spacing-large);
  }

  & p {
    margin: 0;
  }
}
