@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.transactionCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-large) var(--spacing-medium);
}

.transactionInformation {
  display: flex;
  align-items: flex-start;

  & > * {
    margin-right: var(--spacing-small);
  }
}

.transactionStatus > div {
  display: flex;
  align-items: center;
  margin-top: calc(var(--spacing-small) + 1px);

  & abbr {
    margin-right: var(--spacing-small);
  }
}

.transactionLabel {
  display: block;
  text-transform: uppercase;
  margin-bottom: var(--spacing-tiny);
}

.transactionId {
  margin: 0;
  font-size: 28px;
  color: var(--color-light-steel-100);
}

.transactionActions button {
  margin-left: var(--spacing-small);
}
