@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/webfonts/roboto/index.css";

.otherOptions {
  display: flex;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  padding: var(--spacing-large) 0;
}
