@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.descriptionAlert {
  color: var(--color-light-steel-100);
  border: 1px solid var(--color-light-smoke-40);
  line-height: 18px;
  padding: var(--spacing-tiny);

  & .container {
    flex: 1;

    & > .title {
      font-size: 14px;
      font-weight: bold;
    }

    & > .content {
      font-size: var(--caption-font-size);
    }
  }
}

.icon {
  margin: auto 0;
  padding: var(--spacing-small);
}

.info {
  color: var(--color-barney-purple-100);
}

.error {
  color: var(--color-beth-pink-100);
}

.warning {
  color: var(--color-morty-yellow-100);
}

.success {
  color: var(--color-picklerick-green-100);
}
