@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.title {
  color: var(--color-light-steel-100);
  display: inline-flex;
  font-size: 14px;
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: var(--spacing-tiny);
  padding-bottom: 0;
}

.subtitle {
  color: var(--color-light-steel-100);
  font-size: 14px;
  font-weight: var(--title-font-style);
  margin-top: 0;
  margin-bottom: 20px;
}

.paddingTop {
  padding-top: var(--spacing-small);
}

.marginBottom {
  margin-bottom: 20px;
}
