@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.recipient {

  & > div {
    height: 100%;
  }

  & .summary,
  & .description {
    align-items: flex-end;
  }
}

.row {
  align-items: flex-end;
}

.total {
  font-size: 24px;
  font-weight: bolder;
}

.title {
  font-weight: bold;

  &:before {
    counter-increment: section;
    padding-right: 5px;
    content: counter(section) ". ";
  }
}

.summary {
  text-transform: uppercase;
  display: flex;

  & > * {
    text-align: right;
  }

  & > span:first-child {
    flex: 2;
  }

  & .amount {
    font-weight: bold;
    flex: 1;
    line-height: 1;
  }
}

.statusLabel {
  margin-right: var(--spacing-tiny);
}
