@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.statusAlert {
  flex: 1;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }
}

.content {
  display: flex;
  height: 100%;

  & :first-child {
    text-align: center;
    width: 100%;
  }
}

.children {
  font-size: 18px;
}

.subtitle {
  display: block;
  height: 38px;

  &:empty {
    height: 38px;
  }

  & span:first-child:before {
    content: none;
  }

  & span:before {
    content: "|";
    padding: 4px;
  }
}
