@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.statusAlert {
  flex: 1;

  & > * {
    width: 100%;
    box-sizing: border-box;
  }
}

.content {
  display: flex;
  height: 100%;

  & :first-child {
    text-align: center;
    width: 100%;
  }
}

.children {
  font-size: 18px;
}

.subtitle {
  display: block;
  height: 38px;

  &:empty {
    height: 38px;
  }

  & span:first-child:before {
    content: none;
  }

  & span:before {
    content: "|";
    padding: 4px;
  }
}

@media print {

  /* stylelint-disable declaration-no-important */

  * {
    background-color: var(--color-white);
    font-family: "Arial", "Helvetica", sans-serif !important;
    overflow: visible !important;
    color: var(--color-black) !important;
    text-transform: initial !important;
  }

  /* stylelint-enable declaration-no-important */

  @page {
    margin: 1cm 0.5cm;
  }

  main { /* stylelint-disable-line selector-max-type */
    position: relative;
    top: 50px;
  }

  .paidAmountValue,
  .outAmountValue,
  .netAmountValue {
    border-radius: unset;

    & h2 {
      font-size: 16px;
      text-transform: initial;
    }

    & h3 {
      font-size: 14px;
      font-weight: normal;
      text-transform: initial;
    }

    & > div {
      padding: var(--spacing-tiny) 0 0;
    }
  }

  .grid {

    & .transactionInfo .infoCard > div,
    & * {
      box-shadow: none;
      color: var(--color-black);
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .paidAmountValue {
    border-top: 3px solid var(--color-light-greenish-100);
  }

  .outAmountValue {
    border-top: 3px solid var(--color-light-salmon-100);
  }

  .netAmountValue {
    border-top: 3px solid #4ca9d7;
  }

  .paymentInfo {
    align-items: baseline;
    border-bottom: 1px solid var(--color-light-iron-50);
    flex-wrap: wrap;
    justify-content: space-around;

    & > div:first-of-type {
      width: 100%;
    }
  }

  .detailsInfo {
    flex-direction: column-reverse;
    justify-content: space-between;

    & h2 {
      color: var(--color-black);
      font-size: 16px;
      margin: var(--spacing-small) 0;
      text-transform: inherit;
    }
  }

  .recipientsInfo {
    align-items: flex-start;
    display: flex;
    max-height: 1300px;
    min-height: 1100px;
    padding-top: 50px;
  }

  .customerInfo {
    border-bottom: 1px solid var(--color-light-iron-50);
    color: var(--color-black);
    order: 1;
  }

  .transactionCardInfo {
    color: var(--color-black);
    min-height: 450px;

    & > div {
      padding-top: var(--spacing-small);
    }

    & h2 {
      color: var(--color-black);
      font-size: 16px;
    }
  }

  .transactionInfo {

    & > div {
      width: 100%;

      & > div > div {
        margin: 0;
        padding: 0 !important; /* stylelint-disable-line declaration-no-important */
      }
    }
  }

  .eventsList {
    width: 100%;

    & h2 {
      color: var(--color-black);
      font-size: 16px;
      text-transform: inherit;
    }
  }

  /* stylelint-disable selector-max-type, declaration-no-important */

  aside {
    background: var(--color-white);
    display: flex;
    left: 0;
    min-height: 30px !important;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100% !important;
    z-index: 999;

    & > header {
      border-bottom: none !important;
      justify-content: center !important;
    }

    & div,
    & nav,
    & button {
      display: none !important;
    }
  }

  body {

    & > div > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  /* stylelint-enable */
}
