@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

:root {
  --risk-very-low: #04e12d;
  --risk-low: #06b927;
  --risk-moderated: #fdc626;
  --risk-high: #ff9600;
  --risk-very-high: #fd003f;
}

.riskLevelBar {
  background-image:
    linear-gradient(
      90deg,
      var(--color-light-silver-100) 0%,
      var(--color-light-silver-100) calc(0% + 1px),
      var(--color-light-silver-50) calc(0% + 1px),
      var(--color-light-silver-50) 100%
    );
  background-repeat: repeat-x;
  background-size: 20% 10px;
  border-radius: var(--spacing-tiny);
  height: 10px;
  overflow: hidden;
  width: 100px;
}

.riskLevel {
  height: 10px;
}

.very_low {
  background-color: var(--risk-very-low);
  width: calc(20% + 2px);
}

.low {
  background-color: var(--risk-low);
  width: calc(40% + 2px);
}

.moderated {
  background-color: var(--risk-moderated);
  width: calc(60% + 2px);
}

.high {
  background-color: var(--risk-high);
  width: calc(80% + 2px);
}

.very_high {
  background-color: var(--risk-very-high);
  width: 100%;
}

@media print {

  .riskLevelBar {
    display: inline-block;
    width: 100%;
    position: relative;
    border-top: 10px solid var(--color-light-silver-50);
  }

  .riskLevel {
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
  }

  .very_low {
    border-top: 10px solid var(--risk-very-low);
    width: calc(20% + 2px);
  }

  .low {
    border-top: 10px solid var(--risk-low);
    width: calc(40% + 2px);
  }

  .moderated {
    border-top: 10px solid var(--risk-moderated);
    width: calc(60% + 2px);
  }

  .high {
    border-top: 10px solid var(--risk-high);
    width: calc(80% + 2px);
  }

  .very_high {
    border-top: 10px solid var(--risk-very-high);
    width: 100%;
  }
}
