@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.riskLevelBar {
  background-image:
    linear-gradient(
      90deg,
      var(--color-light-silver-100) 0%,
      var(--color-light-silver-100) calc(0% + 1px),
      var(--color-light-silver-50) calc(0% + 1px),
      var(--color-light-silver-50) 100%
    );
  background-repeat: repeat-x;
  background-size: 20% 10px;
  border-radius: var(--spacing-tiny);
  height: 10px;
  overflow: hidden;
  width: 100px;
}

.riskLevel {
  height: 10px;
}

.very_low {
  background-color: #04e12d;
  width: calc(20% + 2px);
}

.low {
  background-color: #06b927;
  width: calc(40% + 2px);
}

.moderated {
  background-color: #fdc626;
  width: calc(60% + 2px);
}

.high {
  background-color: #ff9600;
  width: calc(80% + 2px);
}

.very_high {
  background-color: #fd003f;
  width: 100%;
}
