@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.content {
  display: flex;
}

.label {
  margin-right: var(--spacing-tiny);
}

.tooltip {
  min-width: 100px;

  & div {
    white-space: nowrap;

    &:first-letter {
      text-transform: capitalize;
    }
  }
}
