@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.allowOverflow {
  overflow: initial;
}

.selectedOptionsTitle {
  font-size: 14px;
  text-transform: uppercase;
  color: #a0a0a0;
}

.selectedOptionsTags {
  margin-bottom: calc(0 - var(--spacing-tiny));
  margin-left: calc(0 - var(--spacing-tiny));

  & > * {
    margin-left: var(--spacing-tiny);
    margin-bottom: var(--spacing-tiny);
  }
}

.filtersTitle {
  color: var(--color-light-steel-100);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: var(--spacing-tiny);
  text-transform: uppercase;
}

.spacer {
  width: var(--spacing-large);
  margin: 0;

  & + * {
    margin-left: 0;
  }
}
