@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.capitalize {
  align-items: center;
  display: flex;
  text-transform: capitalize;
}

.overlay {
  align-items: flex-start;
  background-color: rgba(var(--color-white), 0.95);
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 75px;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.tooltip {
  font-size: 13px;

  & .title {
    text-align: center;
  }

  & .responseCode:after {
    content: " - ";
  }

  & .description {
    width: 295px;
  }

  & .descriptionTitle {
    color: #ea5673;
    font-weight: 600;
  }
}

.centralizedItem {
  display: flex;
  align-items: center;
  justify-content: center;

  & .helpIcon {
    margin-left: 8px;
  }
}

.tableHeader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div:first-of-type button:not(:first-of-type) {
    margin-left: var(--spacing-small);
  }
}

.parentWidth {
  flex: 1;

  & > * {
    box-sizing: border-box;
    width: 100%;
  }
}

.toolBar > * {
  margin-left: var(--spacing-small);

  &:first-child {
    margin-left: unset;
  }
}

.dropdown {
  display: flex;

  & > :not(:first-of-type) {
    margin-left: var(--spacing-small);
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-small);
}

.customTitle {
  white-space: pre;

  & strong {
    color: var(--color-barney-purple-100);
    font-weight: bold;
  }

  & .type {
    font-weight: bold;
  }
}

.verticalDivider {
  border-left: 1px solid var(--color-squanchy-gray-50);
  height: 20px;
  margin: 0 8px;
  width: auto;
}

.tableButtons {
  align-items: stretch;
  display: flex;
}

.tableButtons span {
  line-height: 28px;
}

.separator {
  border-left: 1px solid var(--color-squanchy-gray-100);
  margin: 0 10px;
  width: 1px;
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-medium);
}

.legendTitle {
  align-items: flex-start;
  color: var(--color-squanchy-gray-400);
  display: flex;
  font-size: 13px;
  font-weight: bold;
  padding-right: 20px;
  text-transform: uppercase;
}

.stretch {
  flex: 1;
}

.emptyStateBlock {
  margin-top: var(--spacing-large);

  & div {
    text-align: center;
    margin: var(--spacing-tiny) 0;
  }
}
