@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.capitalize {
  align-items: center;
  display: flex;
  text-transform: capitalize;
}

.centralizedItem {
  margin: 0 auto;
  text-align: center;
}

.tableHeader {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div:first-of-type button:not(:first-of-type) {
    margin-left: var(--spacing-small);
  }
}

.toolBar {

  & > * {
    margin-left: var(--spacing-small);
  }
  & > *:first-child {
    margin-left: unset;
  }
}

.dropdown {
  display: flex;

  & > :not(:first-of-type) {
    margin-left: var(--spacing-small);
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-small);
}

.customTitle {
  white-space: pre;

  & strong {
    color: var(--color-light-salmon-100);
    font-weight: bold;
  }
}

.verticalDivider {
  border-left: 1px solid var(--color-light-iron-50);
  height: 20px;
  margin: 0 8px;
  width: auto;
}

.tableButtons {
  align-items: stretch;
  display: flex;
}

.tableButtons span {
  line-height: 28px;
}

.separator {
  border-left: 1px solid var(--color-light-steel-50);
  margin: 0 10px;
  width: 1px;
}

.parentWidth {
  flex: 1;

  & > * {
    box-sizing: border-box;
    width: 100%;
  }
}

.legendContainer {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-medium);
}

.legendTitle {
  align-items: flex-start;
  color: var(--color-light-steel-100);
  display: flex;
  font-size: 13px;
  font-weight: bold;
  padding-right: 20px;
  text-transform: uppercase;
}

.stretch {
  flex: 1;
}
