@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.image {
  margin-bottom: var(--spacing-large);
}

.capturedAmount {
  color: var(--color-light-steel-100);
  font-size: var(--headline-font-size);
  font-weight: var(--title-font-weight);
  margin: 0;
}
