@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.spinner {
  animation: spinner 0.8s linear infinite;
  border-radius: 50%;
  border: 4px solid var(--color-light-chromium-50);
  border-top-color: var(--color-light-greenish-120);
  display: block;
  height: 50px;
  width: 50px;
}

@keyframes spinner {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}
