@import "former-kit-skin-pagarme/dist/styles/colors.css";

.chooseDashboardContainer {
  align-items: center;
  background-color: var(--color-squanchy-gray-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
}

.ellipse,
.circles {
  display: none;
}

@media (min-width: 768px) {

  .chooseDashboardContainer {
    height: 100vh;
  }

  .ellipse {
    display: unset;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .circles {
    display: unset;
    position: absolute;
    right: 0;
    top: 37px;
  }
}

@media (min-width: 1170px) {

  .ellipse {
    bottom: -40px;
    left: -40px;
  }

  .circles {
    right: -40px;
  }
}

@media (min-width: 1360px) {

  .ellipse {
    bottom: 0;
    left: 0;
  }

  .circles {
    right: 0;
  }
}
