@import "former-kit-skin-pagarme/dist/styles/media.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.label {
  color: var(--color-light-noir-100);
  font-size: 20px;
  font-weight: 500;

  & tspan {
    font-size: 14px;
  }
}

.radialChart {
  justify-content: space-around;
  align-items: center;

  & .radial {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100px;
    text-align: center;
  }
}

@media (--media-palm) {

  .radialChart {
    flex-direction: column;
    justify-content: center;
  }
}
