.label {
  font-size: 24px;
  font-weight: bold;

  & tspan {
    font-size: 14px;
  }
}

.radialChart {

  & .radialContainer {
    display: flex;
    flex: 1;
  }

  & .radial {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
}
