@import "former-kit-skin-pagarme/dist/styles/webfonts/roboto/index.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.platformNotFound button {
  margin-top: var(--spacing-medium);
  width: 100%;
}

.platformNotFound > .skipToDashboard {
  color: var(--color-picklerick-green-100);
  font-family: "Roboto", sans-serif;
  font-size: var(--body-font-size);
  font-weight: 500;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: var(--headline-font-size);
  font-weight: bold;
  line-height: 41px;
  margin-top: var(--spacing-tiny);
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: var(--body-font-size);
}
