@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.content {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-bottom: var(--spacing-large);
}

.title {
  padding: var(--spacing-medium);
}

.tree {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;

  & * {
    user-select: none;
    color: var(--color-light-steel-200);
  }

  & li {
    list-style: none;
  }
}

.value {
  color: var(--color-light-greenish-100);
}

.arrow {
  color: var(--color-light-steel-100);
}
