@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.onboardingBackground {
  background-color: var(--color-squanchy-gray-20);
  display: flex;
  min-height: 100vh;
}

.logoAndImage {
  background: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 40px 64px;
}

.centerImage {
  align-self: center;
  margin: auto 0;
  width: 100%;
}

.children {
  box-sizing: border-box;
  padding: 40px 64px;
  width: 528px;
}

@media (min-width: 1440px) {

  .centerImage {
    max-width: 850px;
  }

  .children {
    padding-left: 112px;
    padding-right: 112px;
    width: 696px;
  }
}
