@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.amount {
  align-items: center;
  display: flex;
  margin-bottom: var(--spacing-small);
  margin-top: var(--spacing-medium);

  & small {
    font-size: 18px;
    font-weight: bold;
    margin-right: var(--spacing-tiny);
  }

  & span {
    color: var(--color-birdperson-gray-500);
    font-weight: bold;
  }

  & .symbol {
    font-size: 24px;
    margin-right: 2px;
  }

  & .title {
    color: var(--color-squanchy-gray-400);
    margin-bottom: 0;
    margin-top: 0;
  }

  & .value {
    display: flex;
    align-items: baseline;
  }
}

.empty {
  border: 1px solid var(--color-squanchy-gray-100);
  margin: calc(var(--spacing-small) - 5px) 0;
  width: 100px;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 14px;
}

.large {
  font-size: 24px;
}

.huge {
  font-size: 28px;
}

@media print {

  .content {
    border-bottom: 1px solid var(--color-squanchy-gray-100);
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .amount {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 0;
    padding: 6px 0;

    & small {
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
    }

    & span {
      font-weight: normal;
      font-size: 16px;
    }

    & h3 {
      display: inline-block;
    }
  }
}

.overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 5;
}
