@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.title,
.content,
.subtitle {
  display: flex;
  align-items: center;
}

.content {
  height: 100%;
  align-items: center;
  flex-direction: column;
  padding: 0 var(--spacing-small);
}

.content:last-of-type {
  padding-right: 0;
}

.amount,
.title > h2 {
  margin: 0;
}

.title {
  height: 18px;
  text-transform: uppercase;

  & h2 {
    font-size: 14px;
  }

  & > span {
    color: var(--color-light-chromium-100);
    margin-left: calc(var(--spacing-tiny) - 4px);
  }
}

.amount {
  display: flex;
  align-items: center;

  & small {
    font-size: 18px;
    font-weight: 900;
    margin-right: var(--spacing-tiny);
  }

  & h3 {
    color: var(--color-light-steel-100);
    font-size: 28px;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }
}

.subtitle {
  height: 35px;
  font-size: 11px;
  text-align: center;

  & svg {
    display: inline-block;
    vertical-align: middle;
  }

  & > * {
    color: var(--color-light-steel-100);
  }
}
