@import "former-kit-skin-pagarme/dist/styles/colors.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.reportDetails {
  color: var(--color-light-steel-100);
  font-size: var(--caption-font-size);

  & span:first-child {
    display: block;
    color: var(--color-light-chromium-100);
    padding-bottom: 4px;
  }
}

