@import "former-kit-skin-pagarme/dist/styles/colors.css";

.item {
  display: flex;
  flex-direction: column;

  & .label {
    color: var(--color-squanchy-gray-300);
    font-size: 14px;
    margin-bottom: 7px;
  }

  & .value {
    color: var(--color-birdperson-gray-500);
    font-size: 16px;
  }
}

.firstRow {
  display: flex;
  margin-bottom: 45px;

  & > *:last-of-type {
    margin-left: 75px;
  }
}
