@import "former-kit-skin-pagarme/dist/styles/colors/light.css";

.testEnvironmentLabel {
  align-self: center;
  color: var(--color-squanchy-gray-400);
  cursor: pointer;
  user-select: none;
}

.welcome {
  text-transform: none;
}
