@import "former-kit-skin-pagarme/dist/styles/spacing";
@import "former-kit-skin-pagarme/dist/styles/colors.css";

.greeting {
  margin-bottom: var(--spacing-tiny);
  font-size: 12px;

  & > .name {
    margin-bottom: var(--spacing-tiny);
    margin-top: 0;
  }
}

.dates {
  margin-right: var(--spacing-tiny);
  width: auto;
}

.grid {
  margin-top: var(--spacing-tiny);
  transition: 0.3s linear all;
}

.sideColumn > div {
  max-width: 100%;
}

.emptyStateMessage {
  font-size: 14px;
}

.emptyStateMessage > div {
  text-align: center;
}

.column {
  align-content: space-between;

  & > div {
    flex: 1;
    width: 100%;
  }
}

.emptyState {
  border-top: 1px solid var(--color-light-iron-50);
  padding-top: 100px;
  margin-top: var(--spacing-tiny);
}

.overlay {
  align-items: center;
  border-radius: 4px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.globalLoading {
  opacity: 0;
  transition: none;
}

.conversionChart {
  display: flex;
  flex: 1;
  height: 100%;

  & > div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .title {
    flex: 1;
    color: #454545;
  }

  & .radialContainer {
    display: flex;
    justify-content: center;
    flex: 3;
  }
}

.dateSelectorContainer > div > div > div {
  right: -10px;
}

.column > div:first-child {
  margin-bottom: var(--spacing-small);
}
