.overlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 4px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.spinner {
  animation: spinner 0.8s linear infinite;
  border-radius: 50%;
  border: 4px solid #cfcfcf;
  border-top-color: #32b88b;
  display: block;
  height: 50px;
  width: 50px;
}

@keyframes spinner {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}
