@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.confirmButton {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-small);
}

.forgotPassword {
  align-self: flex-end;
  font-size: 14px;
  margin-top: var(--spacing-tiny);
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: var(--spacing-small);

  & > div:not(:last-child) {
    padding-bottom: var(--spacing-large);
  }
}

.hugeButton {
  flex: 1;
  margin-top: var(--spacing-large);
}

.link {
  cursor: pointer;
  color: var(--color-barney-purple-100);
  font-size: 14px;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-barney-purple-200);
    text-decoration: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.twoSidesView {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.interactionSide {
  width: 47%;
  align-items: center;
  box-shadow: 1px 1px 14px -10px var(--color-black);
  display: flex;
  justify-content: center;
  z-index: 2;

  @media (max-width: 1170px) {
    box-shadow: unset;
    width: unset;
  }
}

.interactionSideContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 360px;

  @media (max-width: 400px) {
    width: 90%;
  }
}

.bottomMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--spacing-large);
  height: 40px;
  justify-content: space-between;
  font-size: 14px;
}

.changeEnvButton {
  margin-top: 104px;
}

.changeEnvButton:hover {
  text-decoration: none;
}

.confirmationMessage,
.subtitle {
  margin-bottom: var(--spacing-medium);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-squanchy-gray-400);
  text-align: center;
  max-width: 80ch;
}

.confirmationMessage {
  margin: 0;
}
