@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";
@import "former-kit-skin-pagarme/dist/styles/typography.css";

.container {
  height: 100vh;
}

.title {
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  color: inherit;
  margin: 0 0 13px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
}

.light .title {
  color: var(--color-birdperson-gray-500);
}

.signInBlock {
  padding-bottom: var(--spacing-small);

  & span {
    line-height: 30px;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.signup {
    min-height: 300px;
  }
}

.errorAlert {
  margin-top: var(--spacing-medium);
}

.hugeButton {
  flex: 1;
  margin-top: 36px;
}

.hugeButton button {
  width: 100%;
}

.actions {
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.link {
  color: var(--color-barney-purple-100);
  font-size: 14px;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-barney-purple-200);
    text-decoration: none;
  }
}

.confirmation .actions {
  padding-bottom: 35px;
}

.changeEnvironment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & button,
  & a {
    text-decoration: none;
  }
}

.goToTest {
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: none;
  text-decoration: none;

  & strong {
    color: var(--color-picklerick-green-100);
  }

  &:hover strong,
  &:focus strong {
    color: var(--color-picklerick-green-200);
  }
}

.githubLink {
  align-items: flex-end;
  background: var(--color-squanchy-gray-400);
  border-radius: 100%;
  color: var(--color-white);
  display: flex;
  height: var(--spacing-large);
  justify-content: center;
  outline: none;
  text-decoration: none;
  width: var(--spacing-large);

  &:hover,
  &:focus {
    background: var(--color-birdperson-gray-500);
  }
}

.copyright {
  font-size: var(--caption-font-size);
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.twoSidesView {
  display: flex;
  height: 100vh;
  align-items: stretch;
  justify-content: center;
}

.interactionSide {
  width: 47%;
  align-self: center;
  display: flex;
  justify-content: center;

  @media (max-width: 1170px) {
    width: unset;
  }
}

.interactionSideContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 361px;
}

.formGroup {
  margin-bottom: var(--spacing-large);
}

.bottomMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  height: 40px;
  justify-content: space-between;
  font-size: 14px;
}

.changeEnvButton button {
  width: 100%;
  margin-top: 99px;
}

.passwordBox {
  position: relative;
  margin-top: 36px;
}

.confirmationMessage,
.subtitle {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-squanchy-gray-400);
  text-align: center;
  max-width: 80ch;
}

.confirmationMessage {
  margin: 0;
}
