@import "former-kit-skin-pagarme/dist/styles/colors/light.css";
@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.container {
  height: 100vh;
}

.columnContainer {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 80%;
  min-height: 550px;
  padding: 15vh 65px 10vh 48px;
  width: 100%;
}

@media screen and (width <= 1024px) {

  .columnContainer {
    height: 80vh;
  }
}

.secondaryContent {
  flex: 1;
  justify-content: space-between;
}

.primaryContent {
  justify-content: flex-start;
  flex: 1;
  max-width: 375px;
  width: 100%;
}

.primaryContent form {
  width: 100%;
}

.secondaryContent,
.primaryContent {
  align-items: baseline;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  color: inherit;
  margin: 0 0 13px;
  width: 100%;
  line-height: 1;
  text-transform: uppercase;
}

.light .title {
  color: var(--color-light-coal-100);
}

.uppercase {
  color: inherit;
  font-size: 14px;
  text-transform: uppercase;
}

.uppercase > p > span {
  display: block;
  width: 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 1.7;
  max-width: 80ch;
}

.login .paragraph {
  text-transform: uppercase;
}

.login,
.signIn {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 20px;
  width: 100%;

  & .paragraph {
    text-transform: uppercase;
  }
}

.errorAlert {
  align-items: center;
  display: flex;
  height: 120px;
}

.hugeButton,
.hugeButton button {
  flex: 1;
  width: 100%;
}

.actions {
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

/* stylelint-disable selector-no-qualifying-type */

.primaryContent .actions button[role="link"] {
  color: var(--color-light-steel-100);
  font-size: 12px;
  outline: none;
  padding: 10px 0;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #bababa;
  }
}

.primaryContent .login,
.primaryContent .signIn {

  & > *:not(:first-child) {
    padding-top: 73px;
  }
}

.signInBlock {
  padding-bottom: var(--spacing-small);

  & span {
    line-height: 30px;
  }
}

.link {
  color: var(--color-light-greenish-100);
  font-weight: bold;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-light-greenish-120);
    text-decoration: none;
  }
}

.confirmation .actions {
  padding-bottom: 35px;
}

.confirmationContent {
  padding-bottom: 33px;
}

.changeEnvironment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  & button,
  & a {
    text-decoration: none;
  }
}

.goToTest {
  align-items: center;
  display: flex;
  justify-content: space-between;
  outline: none;
  text-decoration: none;

  & strong {
    color: var(--color-light-greenish-100);
  }

  &:hover strong,
  &:focus strong {
    color: var(--color-light-greenish-120);
  }
}

.githubLink {
  align-items: flex-end;
  background: var(--color-light-steel-100);
  border-radius: 100%;
  color: var(--color-white);
  display: flex;
  height: var(--spacing-large);
  justify-content: center;
  outline: none;
  text-decoration: none;
  width: var(--spacing-large);

  &:hover,
  &:focus {
    background: var(--color-light-coal-100);
  }
}
